h1 {text-align:center; 
    font-family:'Times New Roman'; 
    font-size:36pt; color: silver; 
    text-transform: uppercase}
h2 {font-family:'verdana'; 
    font-size:24pt; color:#B08040; 
    font-style:italic; 
    text-decoration:underline}
p {font-family:'Garamond'; font-size:12pt; border:red solid 3px; margin:40px; padding:40px 10px 10px 10px; width:50%}